<div class="jumbotron p-4 p-md-5 text-white rounded bg-secondary">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic" *ngIf="latestBlog">{{latestBlog.title}}</h1>
    <p class="lead my-3" *ngIf="latestBlog">{{latestBlog.small_content}}</p>
    <p class="lead mb-0" *ngIf="latestBlog"><a href="#" [routerLink]="['/blogs/'+latestBlog.id]" routerLinkActive="router-link-active"  class="text-white font-weight-bold">Continue reading...</a></p>
  </div>
</div>


<div class="container">   
    <div class="row mb-2">

      <div class="col-md-6" *ngFor="let item of blogs">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ item.author }}</strong>
            <h3 class="mb-0">{{ item.title }}</h3>
            <div class="mb-1 text-muted">{{ item.date * 1000 | date }}</div>
            <p class="card-text mb-auto" [innerHTML]="item.small_content"></p>
            <a href="#" [routerLink]="['/blogs/'+item.id]" routerLinkActive="router-link-active"  class="stretched-link">Continue reading</a>
          </div>
          <!-- <div class="col-auto d-none d-lg-block">
            
              <img src="/assets/images/blogs/{{item.image}}"  alt="">
          </div> -->
        </div>
      </div>

    </div>
  </div>


