<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <img src="/assets/images/about-us.png" alt="Login Logo" width="100%">
  </div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <h1>ZunaWeb Pvt. Ltd. is a leading software company specializes in custom Software application</h1>
        <p>We are a design consultancy that focuses on the user experience whether you are building a brand from scratch or improving an existing website design.</p>
    </div>
    <div class="col-lg-1"></div>
  </div>